// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';

@import 'variables';
// AdminLTE
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
// Bootstrap
// Already imported by AdminLTE
//@import '~bootstrap/scss/bootstrap';

table thead th {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1em;
}

table tbody tr td{
    font-size: .9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.swal2-popup.swal2-toast .swal2-icon{
    height: 1em !important;
    min-width: 1em !important;
    width: 1em !important;
    // border: 2px solid transparent !important;
    border-width: 2px !important;
}


